html {
  background-color: #1d232a;
  color: #a6adba;
  padding: 0%;
  margin: 0%;
  box-shadow: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
  outline: none;
  border-radius: 5px;
}

#root {
  width: 380px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root_inner {
  overflow: auto;
}

h2 {
  font-weight: bolder;
  text-align: center;
}

.caption_card {
  background-color: gray;
  padding: 5px 10px;
  border-radius: 5px;
}

.root_caption {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
